@model BeautySalonBooking.Models.AboutPage

@{
    ViewData["Title"] = Model.Title;
}
<div class="about-page">
<h1 class="about-title">@Model.Title</h1>
<div class="about-content">@Html.Raw(Model.Content)</div>

</div>